
{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}


<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <legend class="border-bottom mb-4">Register </legend>

        <fieldset>
 
        {{form | crispy}}
        </fieldset>
        <div class="mt-3 form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div> 
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have an Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>     
    </form>
</div>


<style>
small ul{
    display: none;
}

.form-outer{
    display: flex;
    width: 400%;
    overflow: hidden;
}

.form-outer .field{
    height: 50px;
    width: 300px;
    margin: 45px 0;
}
</style>


{% endblock %}