{% extends "base.html" %}
{% block content %}




<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <title>Search</title>
</head>

<body>

<div class="container card card-body">
    <form  method="GET" class="mt-5" id="myForm">
        {% csrf_token %}

        <div id="alert-box"></div>
        <div class="row">
            <div class="col-md custom_select">
                <select name="state" id="state" class="form-control input-lg">
                    <option value="">Select state</option>
                </select>
            </div>

            <div class="col-md custom_select">
                <select name="district" id="district" class="form-control input-lg">
                    <option value="">Select district</option>
                </select>
            </div>

            <div class="col-md custom_select">
                <select name="block" id="block" class="form-control input-lg">
                    <option value="">Select block</option>
                </select>
            </div>

            <div class="col-md custom_select">
                <select name="pincode" id="pincode" class="form-control input-lg">
                    <option value="">Select pincode</option>
                </select>
            </div>
        </div>

        <div id="" class="mt-3">
            <button type="submit" class="btn btn-outline-info">Search</button>
        </div>
</form>
</div>




<div class="container">
        <table class="table table-sm table_content non-visible" id="my-table">
            <thead>
              <tr><th scope="col">Centre ID</th>
              <th scope="col">Centre Name</th>
              <th scope="col">Fee type</th>
              <th></th>
            </tr></thead>
             <tbody id="table-data">
            </tbody>
          </table>
</div>


</body>



<style>
    .mt-5 {
        margin-top: 5px !important;
    }

    .non-visible {
        display: none;
    }
.table_content{
    
  margin-top: 30px;

}

.table_content thead tr{
  background-color: #27bec9;
  color: #fff;
  font-weight: bold;
}



.custom_select{
    position: relative;
    height: 37px;
    width: 100%;
}


.custom_select:before{
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}



</style>


<script type="text/javascript">



    const stateInput = document.getElementById('state')
    const districtInput = document.getElementById('district')
    const blockInput = document.getElementById('block')



    const csrf = document.getElementsByName('csrfmiddlewaretoken')
    console.log(csrf)

    const myForm = document.getElementById('myForm')
    const alertBox = document.getElementById('alert-box')
    const tableData = document.getElementById('table-data')

    const myTable = document.getElementById('my-table')




    


    $.ajax({
        type: 'GET',
        url: '/appointment/state-json/',
        success: function (response) {
            var statesData = response.data
            var html_code = '';
            html_code += '<option value="">Select state</option>';  
            statesData.map(items => {
                html_code += '<option value="'+items.state_name+'">'+items.state_name+'</option>';
            })
            $('#state').html(html_code);
        },
        error: function (error) {
            console.log(error)
        }
    })

    stateInput.addEventListener('change', e => {
        console.log(e.target.value)
        const selectedState = e.target.value

        $('#district').html('<option value="">Select district</option>');
        $('#block').html('<option value="">Select block</option>');
        $('#pincode').html('<option value="">Select pincode</option>');


        $.ajax({
            type: 'GET',
            url: `/appointment/district-json/${selectedState}/`,
            success: function (response) {
                console.log(response)
                var districtData = response.data

                var html_code = '';
                html_code += '<option value="">Select district</option>'; 
                districtData.map(items => {
                    html_code += '<option value="'+items.district_name+'">'+items.district_name+'</option>';
                })
                $('#district').html(html_code);
            },
            error: function (error) {
                console.log(error)
            }
        })
    })




    districtInput.addEventListener('change', e => {
        console.log('district',e.target.value)
        const selectedState = document.getElementById('state').value
        const selectedDistrict = e.target.value

        
        $('#block').html('<option value="">Select block</option>');
        $('#pincode').html('<option value="">Select pincode</option>');

        $.ajax({
            type: 'GET',
            url: `/appointment/block-json/${selectedState}/${selectedDistrict}/`,
            success: function (response) {
                console.log(response)
                var blockData = response.data
                var html_code = '';
                html_code += '<option value="">Select block</option>'; 
                blockData.map(items => {
                    html_code += '<option value="'+items.block_name+'">'+items.block_name+'</option>';
                })
                $('#block').html(html_code);
            },
            error: function (error) {
                console.log(error)
            }
        })
    })




    blockInput.addEventListener('change', e => {
        console.log(e.target.value)
        const selectedState =  document.getElementById('state').value
        const selectedDistrict =  document.getElementById('district').value
        const selectedBlock = e.target.value

        
        $('#pincode').html('<option value="">Select pincode</option>');

        $.ajax({
            type: 'GET',
            url: `/appointment/block-json/${selectedState}/${selectedDistrict}/${selectedBlock}/`,
            success: function (response) {
                console.log(response)
                var pincodeData = response.data
                var html_code = '';
                html_code += '<option value="">Select pincode</option>'; 
                pincodeData.map(items => {
                    html_code += '<option value="'+items.pincode+'">'+items.pincode+'</option>';
                })
                $('#pincode').html(html_code);
            },
            error: function (error) {
                console.log(error)
            }
        })
    })


    function ViewBtn(id){
        window.location = '/appointment/book_appointment/'+id;
    }
  



    myForm.addEventListener('submit', e => {
        e.preventDefault()
        console.log("submitted")


        $.ajax({
            type: 'GET',
            url: '/appointment/search/',
            data : {
                'csrfmiddlewaretoken' : csrf[0].value,
                'state_name' : document.getElementById('state').value,
                'district_name' : document.getElementById('district').value,
                'block_name' : document.getElementById('block').value,
                'pincode' : document.getElementById('pincode').value,

            },
            success: function (response) {
                console.log(response)
                myTable.classList.remove('non-visible')
                var centreData = response.data
                centreData.map(items => {
                    console.log("row",items)
                    var row = "<tr><td>"+items.centre_id+"</td><td>"
                              +items.centre_name+"</td><td>"
                              +items.fee_type+
                            "</td><td><button class='btn btn-outline-info' id='view_btn' onclick=ViewBtn("+items.centre_id+")>view</button></td></tr>"
                                

                    tableData.innerHTML += row
                })

                
                                    
                                    },
            error: function (error) {
                console.log(error)
                alertBox.innerHTML = `<div class="alert alert-danger" role="alert">
                                        Something went wrong.. 
                                       </div>`
            }
        })
    })





    



</script>



{% endblock %}